<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.iconpack">

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label=" a custom one"
        android:theme="@android:style/Theme.NoDisplay">

        <!-- Meta-data to help some launchers discover this package as an icon pack -->
        <meta-data android:name="com.gau.go.launcher.THEME" android:resource="@xml/iconpack_meta" />
        <meta-data android:name="com.novalauncher.THEME" android:resource="@xml/iconpack_meta" />
        <meta-data android:name="com.anddoes.launcher.THEME" android:resource="@xml/iconpack_meta" />
        <meta-data android:name="org.adw.launcher.THEMES" android:resource="@xml/iconpack_meta" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true">

            <!-- Expose this activity as an icon-pack target for common launchers -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gau.go.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.anddoes.launcher.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- No MAIN/LAUNCHER intent-filter so this app does not appear in the app drawer -->
        </activity>
    </application>
</manifest>
